@import "../../Styles/color.scss";
@import "../../Styles/reset.scss";

.photoMenuContainer {
  min-height: 205px;
  border-bottom: 1px solid $font--lightgrey;
  padding: 15px;
  overflow: hidden;
  border-right: 1px solid $font--lightgrey;
  border-left: 1px solid $font--lightgrey;

  &__div {
    border: 1px solid $font--lightgrey;
    max-width: 138px;
    background-color: #fff;
    margin-right: 8px;

    .menuImg {
      // background-image: url('../../Images/menu1.jpg');
      // background-size: cover;
      width: 136px;
      height: 98px;
    }
    .menuName {
      padding: 8px 0 8px 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
    }
    .menuPrice {
      padding: 0 0 8px 14px;
      color: $font--grey;
    }
  }
}
