@import "../../Styles/color.scss";
@import "../../Styles/reset.scss";

.sideCartContainer {
  width: 330px;
  position: sticky;
  //float: left;
  margin-top: 10px;
  top: 10px;
  height: 100%;

  &__title {
    background-color: black;
    color: white;
    padding: 10px 10px 10px 15px;
    .trashBin {
      background-image: url("../../Images/trashBin-icon2.png");
      background-size: 20px;
      width: 21px;
      height: 22px;
      float: right;
    }
  }
  &__emptyList {
    .emptyOrderList {
      border: 1px solid $font--lightgrey;
      text-align: center;
      padding: 50px 0;
    }
    .deliveryFee {
      border-left: 1px solid $font--lightgrey;
      border-right: 1px solid $font--lightgrey;
      border-bottom: 1px solid $font--lightgrey;
      text-align: right;
      padding: 10px 15px;
    }
  }
  &__List {
    .innerContainer {
      background-color: white;
      border-left: 1px solid $font--lightgrey;
      border-right: 1px solid $font--lightgrey;
      border-bottom: 1px solid $font--lightgrey;
      padding: 10px 15px;

      .menuTitle {
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 8px;
      }
      .cartList {
        display: flex;

        &__left {
          display: flex;
          //float: left;
          margin-right: auto;
          width: 50%;
          padding: 0 12px;
          .closeBtn {
            background-image: url(../../Images/sprite-icon.png);
            background-size: 264px;
            background-position: 50px 182px;
            width: 20px;
            height: 20px;
          }
          span {
            font-size: 14px;
            display: inline-block;
            line-height: 10px;
            padding: 5px;
            margin-left: 10px;
          }
        }
        &__right {
          // width: 50%;
          display: flex;
          float: right;
          .minusBtn {
            background-image: url(../../Images/sprite-icon.png);
            background-size: 264px;
            background-position: 76px 181px;
            width: 20px;
            height: 20px;
          }
          span {
            width: 25px;
            text-align: center;
          }
          .plusBtn {
            background-image: url(../../Images/sprite-icon.png);
            background-size: 264px;
            background-position: 103px 181px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .deliveryFee {
      border-left: 1px solid $font--lightgrey;
      border-right: 1px solid $font--lightgrey;
      border-bottom: 1px solid $font--lightgrey;
      text-align: right;
      padding: 10px 15px;
    }
    .minimumOrderFee {
      border-left: 1px solid $font--lightgrey;
      border-right: 1px solid $font--lightgrey;
      border-bottom: 1px solid $font--lightgrey;
      text-align: right;
      padding: 10px 15px;
      background-color: #f3f3f3;
    }
    .totalPrice {
      border-left: 1px solid $font--lightgrey;
      border-right: 1px solid $font--lightgrey;
      border-bottom: 1px solid $font--lightgrey;
      text-align: right;
      padding: 10px 15px;
      background-color: #fff8eb;
      color: red;
      font-weight: 600;
    }
  }

  &__orderButton {
    height: 46px;
    background-color: red;
    //opacity: 0.3;
    margin: 10px 0px;
    text-align: center;
    padding: 15px;
    span {
      color: white;
      font-size: 18px;
    }
  }
}
