.food-order-main{
  position: relative;
    max-width: 1020px;
    margin: 0 auto;

  //   @media screen and(max-width: 1020px){
      
  //     flex-direction: column;
  //     margin: 0;
  // } 
    .food-order-media{

    //   @media screen and(max-width: 1020px){
        
    //     width: 100%;
    // } 
    }

    .order-list-media{

    //   @media screen and(max-width: 1020px){
    //     display: block;
    //     width: 100%;
    // } 
    }
}
