$Color-1 : red;
$Color-2 : #FF8A00;
$font--grey: #999999;
$font--lightgrey:#d9d9d9;

//새글 color
$yogiyo-color : #F0041E;
$gray-strong : #1f1e1e;
$gray-light-1 : #ecf0f1;
$gray-light-2 : #d9dadb;
$gray-light-3 : #bdc3c7;
$gray-light-4 : #95a5a6;
$white : #ffffff;
$orange-yellow-light : #FFF8EB;

$header-title-size : 18px;
$header-height : 50px;
