.store-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  padding: 0 215px;
  justify-content: space-between;
  position: relative;
  &__category {
    display: flex;
    justify-content: space-between;
    // justify-content: stretch;
    padding: 0 215px;
    font-size: 13px;
    align-items: center;
    margin: 20px 0;
    border-right: 1px solid black;
  }
}
// .magnifier-container {
//   border-right: 1px solid #d9d9d9;
//   padding-right: 10px;
// }
#see-all-button {
  border-left: 1px solid #d9d9d9;
  padding-left: 20px;
  color: black;
}
