.order-list{
  width: 340px;
  position: absolute; // 요기요에서 absolute를 사용하길래 따라했습니다.
  top:20px;
  left: auto;
  right: 0px;
  bottom:0px;
  

  .list-container{
    width: 330px;
    height: 100px;
    margin: 0px 0px 10px;
    background-color: transparent;

    .panel-heading{
      width: inherit;
      height: 39px;
      padding: 10px 15px;
      background-color: #E6E6E6;
      border:1px solid #ddd;
    }

    .restaurant-title {
      width: 100%;
      height: 41px;
      background-color: #fff ;
      margin: 0px 0px 1px;
      padding: 10px 15px;
      font-size: 14px;
      font-family: 맑은고딕;
      border:1px solid #ddd;
      

    }

    .list-group-order{
      width: inherit;
      padding: 10px 0px 0px;
      background-color: #FFF8EB;
      border:1px solid #ddd;
      max-height: 102px; 
      overflow-y: scroll;
      overflow-x: hidden; // 메뉴는 3개까지만 보이고 나머지는 overflow처리 했습니다. 

      .list-group-item{
        width: 328px;
        height: 30px; 
        padding: 0px 15px;
        color: #333333;
        font-size: 14px;
        font-family: 맑은고딕;
        .menu-title{
         float: left;
        }
        .menu-price{
          float: right;
        }
      }
    }

    .list-group-total{
      background-color: #fff8eb;
    padding-top: 3px;
    padding-bottom: 3px;

      &__price{
        width: inherit;
        height: 52.6px;
       color: #F0001E;
       font-size: 15.4px;
       font-family:  맑은고딕;
       background-color: #FFF8EB;
       margin: 10px 0px 0px;
       padding: 15px;
       font-weight: bold;
       display: flex;

       .total-title{
        width: 92%;
       }

       .total-price{
        width: 25%;
       }
      }
    }
  }

  .check-set{
    width: 330px;
    
  .check-heading {
    
    border-bottom: 1px solid #ddd;
    padding: 10px 5px 5px 0;

    
    small{
      font-size: 75%;
      font-weight: bold;
    }
  }
  .check-img{
    display: inline-block;
    min-width: 22px;
    height: 22px;
    margin: -1px 4px  0px 0px;
    background: url('../../../Images/ico_check.png');
    background-size: 22px;
    cursor: pointer;
    background-color: ivory;
    vertical-align: middle;
    
    &.checked{
      background-position-y: -22px;
    }
  }
  .arrow-icon{
    width: 16px;
    height: 16px;
    background-position: -149px -43px;
    background-image: url('../../../Images/sprite-icon.png');
    background-repeat: no-repeat;
    background-size: 350px;
    float: right;
  }

  .check-box{
    width:305px ;
    margin: 8px auto;

    // .check-img{
    //   display: inline-block;
    //   min-width: 22px;
    //   height: 22px;
    //   margin: -1px 4px  0px 0px;
    //   background: url('../../../Images/ico_check.png');
    //   background-size: 22px;
    //   cursor: pointer;
    //   background-color: ivory;
    //   vertical-align: middle;
    
    // }
    small{
      font-size: 75%;
      font-weight: bold;
    }
  }
  }

  .pay-btn {
    width: 100%;
    min-width: 100px;
    color: #fff;
    font-family: 맑은고딕;
    font-size: 18px;
    background-color: #F0001E;
    margin: 12px 0px 0px;
    padding: 10px 16px;
  }

}


